$primary-color: #dc0a0a;
$secondary-color: #333;
$neutral-color: #e0e0e0;
$text-color: #4e4e4e;
$white: #fff;

$font-family-primary: 'Raleway';
$font-size-small: 13px;
$font-size-medium: 18px;
$font-size-large: 26px;
$font-size-xl: 92px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-style($font-weight, $font-size, $color, $font-style: normal, $font-family: $font-family-primary) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
  font-style: $font-style;
}


body {
  @include flex-center;
  width: 100%;
  height: 100%;
  background-color: $white;
}

.container {
  @include flex-center;
}

.row {
  display: flex;
  justify-content: center;
}

.container-spacing{
  margin-bottom: 70px;
}

h4 {
  text-transform: uppercase;
  color: $text-color;
}

.title{
  font-family: $font-family-primary;
  font-size: 35px; 
  font-weight: 800;
  margin-top: 16px;
}

.line_under_title {
  width: 100%;
  margin-top: -5px;
  margin-bottom: 50px;
  height: 1.4px;
  background-color: $secondary-color;
}

.img_border {
  @include flex-center;
  background-color: $primary-color;
  width: 405px;
  height: 615px;
}

.place-text {
  @include text-style(700, 22px, $secondary-color, italic);
}

.degree-text {
  @include text-style(800, 25px, $secondary-color);
}

.location-text {
  @include text-style(600, 16px, $secondary-color, italic);
}

.description{
  @include text-style(500, 20px, $secondary-color);
  text-align: justify;
}

.ref-contact-location{
  @include text-style(800, $font-size-medium, $primary-color, italic);
}

.ref-contact-text{
  @include text-style(500, 17px, $secondary-color);
}

.name_block {
  @include flex-center;
  flex-direction: column;

  .name-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1#name {
      @include text-style(900, $font-size-xl, $secondary-color);
      text-transform: uppercase;
    }

    h2#surname {
      @include text-style(400, $font-size-xl, $secondary-color);
      text-transform: uppercase;
      margin-top: -35px;
    }
  }

  p#position {
    @include text-style(500, 25px, $primary-color);
    padding-bottom: 2px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: -25px;
  }

  .line_under_position {
    width: 100%;
    margin-top: -15px;
    margin-bottom: 60px;
    height: 2px;
    background-color: $secondary-color;
  }
}

p#about-main-text{
  @include text-style(500, 20px, $secondary-color);
  text-align: justify;
}

blockquote#about-quote-text{
  @include text-style(900, 20px, $secondary-color, italic);
  text-align: justify;
  margin-bottom: 25px;
}

ul#contact-container {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    @include text-style(700, $font-size-medium, $secondary-color, italic);
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 45px;

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      left: 30px;
      top: 0;
      background-color: rgb(60, 60, 60);
    }

    i {
      position: absolute;
      margin-right: 10px;
      left: 0;
      font-size: $font-size-medium;
      color: $primary-color;
    }
  }

  li:last-child {
    line-height: 1.2;
    margin-top: -5px; 
  }

  li:last-child::before {
    height: 28px;
    transform: translateY(50%);
    margin-top: -5px;
  }
}

.references-container {
  position: relative;
  width: 100%;
}
  
.container-item {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.square {
  width: 16px;
  height: 14px;
  margin-right: 19px;
  margin-top: 5px;
  background-color: $primary-color;
  z-index: 2;
}

.line {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 6px;
  top: 22px;
  bottom: 0;
  background-color: rgb(60, 60, 60);
  z-index: 1;
} 

.container-item:not(:last-child) .line {
  height: 100%;
}
div#references-container .container-item:last-child .line {
  height: 68%;
}

div#job-container .container-item:last-child .line {
  height: 81%;
}

div#education-container .container-item:last-child .line {
  height: 85%;
}

.container-information {
  display: block;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  height: 100%;
}

.date_location {
  @include flex-center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dates {
  @include text-style(700, 15px, $white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 120px;
  height: 30px;
  background-color: $primary-color;
}

div#hobbies-container,
div#skills-container {
  width: 100%;
  
  .skill {
    margin: 25px 0;
    position: relative;

    .skill-text {
      @include text-style(800, $font-size-medium, $secondary-color);
      margin-bottom: 10px;
    }

    .skill-bar {
      width: 100%;
      background-color: $neutral-color;
      height: 10px;
      position: relative;

      .skill-score {
        height: 10px;
        background-color: $primary-color;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &::after {
          content: '';
          width: 19px;
          height: 19px;
          background-color: $primary-color;
          position: relative;
        }
      }
    }
  }
}

div#languages-container {
  display: block;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 30px;

  .box {
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -1.5px;

    .percent {
      width: 120px;
      height: 120px;
      position: relative;

      svg {
        width: 120px;
        height: 120px;
        position: relative;
        transform: rotate(-90deg);

        circle {
          width: 120px;
          height: 120px;
          fill: none;
          stroke-width: 7;
          stroke: $primary-color;
          stroke-dasharray: 314;
          stroke-dashoffset: 314;
          stroke-linecap: round;

          &:nth-child(1) {
            stroke-dashoffset: 0;
            stroke: #cdcdcd;
          }
        }
      }

      .num {
        @include flex-center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        color: #111;

        h1 {
          @include text-style(900, $font-size-large, $secondary-color);
        }

        h2 span {
          @include text-style(900, $font-size-large, $secondary-color);
        }
      }
    }

    .text {
      @include text-style(700, $font-size-small, $secondary-color);
      text-transform: uppercase;
      padding-top: 5px;
      margin-top: -10px;
      margin-bottom: 2px;
    }
  }
}

.bi-caret-up-square, 
.bi-caret-down-square {
  color: $primary-color; 
}

.btn:hover .bi-caret-up-square-fill, 
.btn:hover .bi-caret-down-square-fill {
  color: $primary-color;; 
}
